@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    font-family: "Poppins", Arial, sans-serif;
    padding-top: 35px;
}

p{
    padding-left: 50px;
    padding-right: 50px;
    overflow-wrap: normal;
    text-indent: 15px;
}

/* home, and nav bar */

#nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(29, 180, 122);
    position: fixed;
    top: 0;
    width: 100%;
    left: 0px;
}

li{
    float: right;
}

#home{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    color: #111;
}

#nav li{
    position: relative;
}

.active {
    background-color: #04AA6D;
  }

#nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;
    position: absolute;
    top: 0%;
    width: 0%;
    transition: all ease-in-out 250ms;
}

#nav a:hover::before{
    width: 60%;
}

/* titles */
.title{
    padding-left: 50px;
    padding-top: 30px;
    font-size: 40px;
    color: black;
}

/* About Text */

/* About Pics */

img{
    height: 150px;
    padding-left: 30px;
    padding-right: 30px;
}
































#hometitle{
    text-align: center;
    padding-top: 50px;
}
