@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    font-family: "Poppins", Arial, sans-serif;
    padding-top: 35px;
}

p{
    padding-left: 50px;
    padding-right: 50px;
    overflow-wrap: normal;
    text-indent: 15px;
}

/* home, and nav bar */

#nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(29, 180, 122);
    position: fixed;
    top: 0;
    width: 100%;
    left: 0px;
}

li{
    float: right;
}

#home{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    color: #111;
}

#nav li{
    position: relative;
}

.active {
    background-color: #04AA6D;
  }

#nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;
    position: absolute;
    top: 0%;
    width: 0%;
    transition: all ease-in-out 250ms;
}

#nav a:hover::before{
    width: 60%;
}

/* titles */
.title{
    padding-left: 50px;
    padding-top: 30px;
    font-size: 40px;
    color: black;
}

/* About Text */

/* About Pics */

img{
    height: 150px;
    padding-left: 30px;
    padding-right: 30px;
}

a{
    text-decoration: none;
}

.contact{
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    
}

#gitlogo{
    padding-left: 100px;
}

#lineone{
    position: relative;
    background: linear-gradient(to right, white, #ababab);
    width: 1700px;
    height: 15px;

    left: 100px;
    top: 100px;
  
}

#linetwo{
    position: relative;
    background: linear-gradient(to right, white, #ababab);
    width: 1700px;
    height: 15px;

    left: 100px;
    top: 115px;
}

#linethree{
    position: relative;
    background-color: red;
    width: 1700px;
    height: 15px;
    background: black;
    left: 100px;
    top: 130px;
}

#regailia_one{
    position: absolute;
    align-content: center;
    top: 118px;
    left: 20px;
    background-color: lightgray;
    color: black;
    padding: 5px;
    width: 150px;
    height: 120px
}

#firelands_one{
    position: absolute;
    align-content: center;
    top: 118px;
    left: 32%;
    background-color: lightgray;
    color: black;
    padding: 5px;
    width: 150px;
    height: 120px
}

#regailia_two{
    position: absolute;
    align-content: center;
    top: 118px;
    right: 32%;
    background-color: lightgray;
    color: black;
    padding: 5px;
    width: 150px;
    height: 120px
}

#dungeon_one{
    position: absolute;
    align-content: center;
    top: 118px;
    right: 20px;
    background-color: lightgray;
    color: black;
    padding: 5px;
    width: 150px;
    height: 120px
}

#linefour{
    position: relative;
    background-color: #04AA6D;
    width: 1700px;
    height: 15px;

    left: 100px;
    top: 400px;
    background: black;
}

#linefive{
    position: relative;
    background-color: #04AA6D;
    width: 1700px;
    height: 15px;

    left: 100px;
    top: 415px;
    background: linear-gradient(to left, #595959, black);
}


#linesix{
    position: relative;
    background-color: #04AA6D;
    width: 1700px;
    height: 15px;

    left: 100px;
    top: 430px;
    background: linear-gradient(to left, #595959, black);
}

#connectinglineone{
    position: absolute;
    background-color: #04AA6D;
    width: 15px;
    height: 300px;
    top: 264px;
    bottom: 100px;
    left: 1825px;
    background: linear-gradient(#ababab, #595959);
}

#connectinglinetwo{
    position: absolute;
    background-color: #04AA6D;
    width: 15px;
    height: 300px;
    top: 264px;
    bottom: 100px;
    left: 1857px;
    background: linear-gradient(#ababab, #595959);
}

#connectinglinethree{
    position: absolute;
    background-color: #04AA6D;
    width: 15px;
    height: 300px;
    top: 264px;
    bottom: 100px;
    left: 1793px;
    background: black;
}

#code_room_one{
    position: absolute;
    align-content: center;
    top: 444px;
    right: 20px;
    background-color: lightgray;
    color: black;
    padding: 5px;
    width: 150px;
    height: 120px
}


#palace_earthquake{
    position: absolute;
    align-content: center;
    top: 444px;
    right: 32%;
    background-color: lightgray;
    color: black;
    padding: 5px;
    width: 150px;
    height: 120px
}

#bane_war{
    position: absolute;
    align-content: center;
    top: 444px;
    left: 32%;
    background-color: lightgray;
    color: black;
    padding: 5px;
    width: 150px;
    height: 120px
}

#give_up{
    position: absolute;
    align-content: center;
    top: 444px;
    left: 20px;
    background-color: lightgray;
    color: black;
    padding: 5px;
    width: 150px;
    height: 120px
}

h5{
    position: absolute;
}
#intro_one{
    top: 120px;
    left: 200px;
}

#intro_two{
    top: 150px;
    left: 200px;
}

#intro_three{
    color: white;
    top: 180px;
    left: 200px;
}

h3{
    position: absolute;
}